<!DOCTYPE HTML>
<html>
<head>
    <title> {{ title }} </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/solarized-dark.min.css' rel='stylesheet'
          type='text/css'>
    <style type="text/css">
        html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-stretch: inherit;
            vertical-align: baseline;
            font: inherit inherit inherit inherit/inherit inherit
        }

        article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
            display: block
        }

        body {
            line-height: 1
        }

        ol, ul {
            list-style: none
        }

        *, ::before, ::after {
            box-sizing: border-box
        }

        body {
            background: #4A90E2;
            background: linear-gradient(to left, #3567A2, #4A90E2)
        }

        body, input, select, textarea {
            color: #6f7577;
            font: 400 15pt/1.75em 'Source Sans Pro', sans-serif
        }

        p {
            margin: 0 0 2em
        }

        html body {
            color: #fff;
            text-decoration: none
        }

        a {
            color: #fff;
        }

        html body::before {
            -webkit-font-smoothing: antialiased;
            text-transform: none !important;
            transform-origin: 50% 50% 0;
            color: #454d50;
            content: "";
            cursor: default;
            display: block;
            height: 2em;
            left: 50%;
            opacity: 0;
            margin: -1em 0 0 -1em;
            position: fixed;
            text-align: center;
            top: 50%;
            width: 2em;
            z-index: -1
        }

        html body::after {
            content: "";
            display: block;
            height: 100%;
            left: 0;
            opacity: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: -1;
            animation: overlay-hide 1s ease-in forwards !important;
            background: #4A90E2
        }

        header.major {
            text-align: center
        }

        header.major p {
            margin-top: 0
        }

        #header {
            height: 100vh;
            position: relative;
            text-align: center
        }

        #header::after {
            content: "";
            display: inline-block;
            height: 100vh;
            vertical-align: middle
        }

        #header header {
            width: 80%;
            max-width: 1372px;
            display: inline-block;
            vertical-align: middle
        }

        #header #logo {
            width: 60%
        }

        #header header p::before {
            content: "";
            display: block;
            height: 0.1vmin;
            margin: 0 auto 2em;
            position: relative;
            width: 30vmin;
            background: #fff
        }

        #header header p {
            font-size: 3vmin;
            color: #fff;
            margin: 1.6em 0 0
        }

        @keyframes overlay-hide {
            0% {
                opacity: 1;
                z-index: 10000
            }
            15% {
                opacity: 1;
                z-index: 10000
            }
            99% {
                opacity: 0;
                z-index: 10000
            }
            100% {
                opacity: 0;
                z-index: -1
            }
        }

        html body {
            text-decoration: none
        }

        html body:before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            text-transform: none !important;
            -moz-transform-origin: 50% 50%;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            color: #606c88;
            cursor: default;
            display: block;
            height: 2em;
            left: 50%;
            opacity: 0;
            margin: -1em 0 0 -1em;
            position: fixed;
            text-align: center;
            top: 50%;
            width: 2em;
            z-index: -1;
            font: 400 2em/2em FontAwesome
        }

        html body:after {
            -moz-animation: overlay-hide 1s ease-in forwards !important;
            -webkit-animation: overlay-hide 1s ease-in forwards !important;
            -ms-animation: overlay-hide 1s ease-in forwards !important;
            animation: overlay-hide 1s ease-in forwards !important;
            background: #4280C8;
            content: '';
            display: block;
            height: 100%;
            left: 0;
            opacity: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: -1
        }

        body .code-example {
            padding-top: 3em;
            width: 60%;
            display: block;
            margin:0 auto;
        }

        body .code-example pre {
            text-align: left;
        }

        /* CSS based on Highlights by HTML5 UP - html5up.net */
    </style>
</head>
<body>
<section id="header">
    <header class="major">
        <svg id="logo" viewbox="0 0 1217 363" xmlns="http://www.w3.org/2000/svg">
            <title> {{ Message }}</title>
            <desc> {{ slogan }}</desc>
            <g id="Def" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g fill="#FFFFFF" id="Logo-white">
                    <g id="Group">
                        <path id="Fill-1-Copy"
                              d="m277.77024,246.08957l-71.77088,-71.77114l-71.7696,71.77114l-43.06228,-43.06243l114.83188,-114.83228l114.83316,114.83228l-43.06228,43.06243zm-71.77088,-246.08957c-99.41108,0 -179.99936,80.58857 -179.99936,180c0,99.41143 80.58828,180 179.99936,180c99.41107,0 180.00064,-80.58857 180.00064,-180c0,-99.41143 -80.58957,-180 -180.00064,-180l0,0z"/>
                        <path id="Frisbee"
                              d="m524,256.08l18.06,0l0,-63.21l53.75,0l0,-15.05l-53.75,0l0,-47.73l63.425,0l0,-15.05l-81.485,0l0,141.04zm106.76,0l17.63,0l0,-67.08c7.095,-17.63 17.63,-24.08 26.445,-24.08c4.3,0 6.665,0.645 10.105,1.72l3.44,-15.48c-3.44,-1.505 -6.665,-2.15 -11.18,-2.15c-11.825,0 -22.575,8.385 -29.67,21.5l-0.645,0l-1.505,-18.92l-14.62,0l0,104.49zm90.635,-125.99c6.88,0 12.255,-4.73 12.255,-11.395c0,-6.88 -5.375,-11.395 -12.255,-11.395c-6.88,0 -12.255,4.515 -12.255,11.395c0,6.665 5.375,11.395 12.255,11.395l0,0zm-9.03,125.99l17.63,0l0,-104.49l-17.63,0l0,104.49zm48.28,-11.825c9.89,8.17 24.08,14.405 38.915,14.405c24.725,0 38.27,-14.19 38.27,-31.175c0,-19.78 -16.77,-26.015 -31.82,-31.605c-11.825,-4.515 -23.22,-8.385 -23.22,-18.06c0,-7.955 6.02,-15.05 19.135,-15.05c9.245,0 16.77,3.87 23.865,9.245l8.385,-11.18c-7.955,-6.45 -19.35,-11.825 -32.465,-11.825c-22.575,0 -35.905,12.9 -35.905,29.67c0,17.63 16.34,24.725 31.175,30.1c11.395,4.3 23.865,9.03 23.865,19.78c0,9.03 -6.88,16.34 -20.64,16.34c-12.47,0 -21.715,-5.16 -30.745,-12.47l-8.815,11.825zm108.695,11.825l14.19,0l1.505,-10.32l0.645,0c9.245,8.17 20.21,12.9 29.885,12.9c23.865,0 45.15,-20.855 45.15,-56.545c0,-32.25 -14.405,-53.105 -41.495,-53.105c-11.61,0 -23.22,6.235 -32.68,14.62l0.43,-18.92l0,-41.71l-17.63,0l0,153.08zm17.63,-23.22l0,-54.825c9.89,-9.245 19.135,-14.19 27.95,-14.19c19.78,0 27.52,15.48 27.52,38.485c0,25.8 -12.685,41.495 -29.885,41.495c-6.88,0 -16.34,-3.01 -25.585,-10.965l0,0zm100.955,-28.81c0,34.185 22.145,54.61 50.095,54.61c14.19,0 25.37,-4.945 34.4,-10.75l-6.235,-11.61c-7.74,4.945 -16.125,8.17 -26.015,8.17c-19.995,0 -33.54,-14.19 -34.83,-36.765l70.52,0c0.43,-2.58 0.645,-6.02 0.645,-9.675c0,-29.885 -15.05,-49.02 -41.71,-49.02c-23.865,0 -46.87,20.855 -46.87,55.04l0,0zm17.2,-7.955c2.15,-21.07 15.48,-33.11 30.1,-33.11c16.34,0 25.8,11.825 25.8,33.11l-55.9,0zm96.44,7.955c0,34.185 22.145,54.61 50.095,54.61c14.19,0 25.37,-4.945 34.4,-10.75l-6.235,-11.61c-7.74,4.945 -16.125,8.17 -26.015,8.17c-19.995,0 -33.54,-14.19 -34.83,-36.765l70.52,0c0.43,-2.58 0.645,-6.02 0.645,-9.675c0,-29.885 -15.05,-49.02 -41.71,-49.02c-23.865,0 -46.87,20.855 -46.87,55.04l0,0zm17.2,-7.955c2.15,-21.07 15.48,-33.11 30.1,-33.11c16.34,0 25.8,11.825 25.8,33.11l-55.9,0z"/>
                    </g>
                </g>
            </g>
        </svg>
        <p>Your exceptional project
            <a href="/code-example" title="View the lines used to create this page "> starts here</a>
        </p>

        <div class="code-example">
            <h3>Throwing your new Application</h3>
            <pre>
<code class="php">&lt;?php

require __DIR__ . '/../vendor/autoload.php';

throw new \Frisbee\Application('myApp');
</code>
            </pre>
        </div>
    </header>
</section>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/languages/php.min.js"></script>
<script type="text/javascript">
    hljs.initHighlightingOnLoad();
</script>
</body>
</html>